In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
data = sns.load_dataset('iris')

In [4]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
data.rename(columns={'sepal_length':'SL','sepal_width':'SW','petal_length':'PL','petal_width':'PW'},inplace=True)

In [6]:
iris_setosa=data[data['species']=='setosa']
iris_versicolor=data[data['species']=='versicolor']
iris_virginica=data[data['species']=='virginica']

#here we are creating 3different dataframe and storing values of previous data

In [7]:
#measure of spread


# 1-->Range
# 2-->Interquartile range
# 3-->varience
# 4-->Standard deviation

In [9]:
#Range-->difference btw largest and smallest point 
r=np.max(iris_setosa['PL'])-np.min(iris_setosa['PL'])
print(r)

0.8999999999999999

In [10]:
#percentiles

In [15]:
myList=[1,2,3,4,5,6,7,8,9,10]

print(np.percentile(myList,25))
print(np.percentile(myList,90))

#25%of data is roughly less than 3.25
#90%data is less than 9.1

3.25
9.1

In [17]:
np.percentile(iris_setosa['PL'],95)
#95%data is less than 1.7

1.7

In [18]:
#Quartiles 
#it divides list of numbers into  quarter

In [21]:
print(np.percentile(iris_setosa['PL'],25))
print(np.percentile(iris_setosa['PL'],50))
print(np.percentile(iris_setosa['PL'],75))
print(np.percentile(iris_setosa['PL'],100))

1.4
1.5
1.5750000000000002
1.9

In [22]:
#interquartile Range
# variation between upper quartile to lower quartile
# =Q3-Q2

In [23]:
iqr=np.percentile(iris_setosa['PL'],75)-np.percentile(iris_setosa['PL'],25)
print("The Inter Quartile Range is",iqr)

The Inter Quartile Range is 0.17500000000000027

In [24]:
#Mean Absolute Deviation

# example = 2,5,1,6,7,3,11
# the mean is 5
# (|2-5|+|5-5|+|1-5|+|6-5|+|7-5|+|3-5|+|11-5|)/7
# 3+0+4+1+2+2+6=18/7=2.5

In [25]:
#Varience

# example = 2,5,1,6,7,3,11
# the mean is 5
# (|2-5|^2+|5-5|^2+|1-5|^2+|6-5|^2+|7-5|^2+|3-5|^2+|11-5|^2)/7
# 9+0+16+1+4+4+36=70/7=10

In [26]:
np.var(iris_setosa["PL"])

0.02955600000000001

In [27]:
#Varience

# example = 2,5,1,6,7,3,11
# the mean is 5
# (|2-5|^2+|5-5|^2+|1-5|^2+|6-5|^2+|7-5|^2+|3-5|^2+|11-5|^2)/7
# 9+0+16+1+4+4+36=70/7=10

# sd=sqrt(10)=3.16

In [28]:
np.std(iris_setosa["PL"])

0.17191858538273286

In [30]:
#Median Absolute Deviation

# example = 2,5,1,6,7,3,11
# the median is 5
# (|2-5|+|5-5|+|1-5|+|6-5|+|7-5|+|3-5|+|11-5|)/7
# 3,0,4,1,2,2,6
# 0,1,2,2,3,4,6(sort)
# median absolute deviation(middle term=2)

In [38]:
from statsmodels import robust
robust.mad(np.array([2,5,1,6,7,3,11]))

2.0