In [1]:
# Basic Types:Integer,Float,Complex,Boolean and string
# Container Types: List,Tuples,Sets and Dictonary
# User-Defined Types-Class

In [2]:
#Integer
print(4)
print(1e308)
print(1e309)

4
1e+308
inf

In [8]:
#float
print(4.5)
print(1.7e308)
print(1.7e309)
print(1.1e308)
print(1.8e308)
print(1.6e308)

4.5
1.7e+308
inf
1.1e+308
inf
1.6e+308

In [9]:
#Boolean
print(True)
print(False)

True
False

In [10]:
#complex
print(4+5j)

(4+5j)

In [13]:
#String
print('Kolkata')
print("Kolkata")
print('''Kolkata''')
print("""Kolkata""")

Kolkata
Kolkata
Kolkata
Kolkata

In [14]:
#List
print([1,2,3,4,5])    #square bracket

[1, 2, 3, 4, 5]

In [15]:
#Tuple
print((1,2,3,4,5))    #small bracket

(1, 2, 3, 4, 5)

In [16]:
#sets
print({1,2,3,4,5})    #curly bracket

{1, 2, 3, 4, 5}

In [17]:
#dictonary
print({"Name":"Shivam","Age":22,"Gender":"Male"})

{'Name': 'Shivam', 'Age': 22, 'Gender': 'Male'}