In [1]:
input()

56

'56'

In [2]:
input("Apna naam bata")

Apna naam bataShivam

'Shivam'

In [3]:
input(prompt="Apna naam bata")

Apna naam bataShivam

'Shivam'

In [4]:
first_num = input("Enter the first number")
second_num = input("Enter the second number")

Enter the first number56
Enter the second number65

In [6]:
print(first_num)
print(second_num)

56
65

In [7]:
result = first_num + second_num
print(result)
#whenever we take input from user we get input in the form of STRING
# String is a universal format which can hold other data type

5665

In [10]:
#type
# type(4.5)
# type(4)
# type('4')
# type(True)
# type(6+7j)
type([1,2,3])

list

In [11]:
type(first_num)

str

In [12]:
first_num

'56'

In [13]:
#implicit--->automatically do type conversion
#explicit--->we have to ask for type conversion at certain point

In [14]:
4+5.5 #implicit-->it did type conversion automatically behind the scene

9.5

In [15]:
5 + 6 + 7j

(11+7j)

In [16]:
first_num + second_num

'5665'

In [19]:
#int
int(4.5)

4

In [20]:
int('45')

45

In [21]:
int('4.5')    #we can't create integer by giving decimal as stringfloat

ValueError: invalid literal for int() with base 10: '4.5'

In [22]:
float(4)

4.0

In [23]:
float('4')

4.0

In [24]:
float('4.5')

4.5

In [25]:
str(5)

'5'

In [26]:
bool(1)

True

In [27]:
complex(4)

(4+0j)

In [28]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [29]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

In [31]:
int('Kolkata')

ValueError: invalid literal for int() with base 10: 'Kolkata'

In [32]:
a=4.5

In [33]:
int(a)

4

In [34]:
a

4.5

In [35]:
first_num = input("Enter the first number")
# first_num = int(input("Enter the first number"))
second_num = input("Enter the second number")
# second_num = int(input("Enter the first number"))


result = int(first_num) + int(second_num)
# result = first_num + second_num
print(result)

Enter the first number45
Enter the second number54
99