In [1]:
#tuple 
#create
#access
#edit
#add
#delete
#operations
#functions

In [2]:
#create
t1 = ()
t1

()

In [3]:
t2=(1,2,3,4)
t2

(1, 2, 3, 4)

In [4]:
t3=("Hello",4,5)
t3

('Hello', 4, 5)

In [5]:
t4=(1,2,3,(4,5))
t4

(1, 2, 3, (4, 5))

In [6]:
t5=(1)
t5

1

In [7]:
type(t5)

int

In [8]:
t5=("Hello")
t5

'Hello'

In [9]:
type(t5)

str

In [11]:
t5=(5,)   #creating single item tuple is difficult as compare to list
t5

(5,)

In [12]:
type(t5)

tuple

In [13]:
t6=tuple("goa")
t6

('g', 'o', 'a')

In [14]:
type(t6)

tuple

In [15]:
t6=tuple([1,2,3,4,5])
t6

(1, 2, 3, 4, 5)

In [16]:
type(t6)

tuple

In [17]:
#access
t2

(1, 2, 3, 4)

In [18]:
t2[0]

1

In [19]:
t2[-1]

4

In [20]:
t3

('Hello', 4, 5)

In [21]:
t4

(1, 2, 3, (4, 5))

In [22]:
t4[-1][0]

4

In [23]:
#edit
l=[1,2,3,4,5]
l[0]=100
l

[100, 2, 3, 4, 5]

In [24]:
l=(1,2,3,4,5)
l[0]=100
l         #tuples just like strings are immutable
#we cannot add  items in tuple as it is mutable
#we can detele whole tuple but we cannot delete single item of tuple

TypeError: 'tuple' object does not support item assignment

In [25]:
t2=(1,2,3)
t2

(1, 2, 3)

In [27]:
t3=("Hello",4,5)
t3

('Hello', 4, 5)

In [28]:
t2+t3

(1, 2, 3, 'Hello', 4, 5)

In [29]:
t2*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [30]:
for i in t2:
    print(i)

1
2
3

In [33]:
1 in t2

True

In [34]:
#functions
len(t2)

3

In [35]:
min(t2)

1

In [36]:
sum(t2)

6

In [37]:
max(t2)

3

In [38]:
sorted(t2)

[1, 2, 3]

In [39]:
sorted(t2,reverse=True)

[3, 2, 1]

In [ ]:
#tuples are read-only data type