In [1]:
{"name":"Shivam","gender":"Male"}

{'name': 'Shivam', 'gender': 'Male'}

In [2]:
# dictionary has no indexing just like sets
# dictionary is a mutable type just like sets and lits
# keys should always immutable--->values they can be mutable
# keys should be unique





# mutable --->list/sets/dictionary
# immutable---->strings/tuples/int/complex.....

In [3]:
d={}
d

{}

In [4]:
d={"name":"Shivam","gender":"Male"}
d

{'name': 'Shivam', 'gender': 'Male'}

In [6]:
d1={[1,2,3]:"Hello"}

TypeError: unhashable type: 'list'

In [9]:
d1={(1,2,3):"hello"}
d1

{(1, 2, 3): 'hello'}

In [10]:
d2={"name":"shiv","name":"shivm"}
d2

{'name': 'shivm'}

In [14]:
d3={"name":"rohit","college":"lpu","marks":{"m1":56,"ds":54}}
d3

{'name': 'rohit', 'college': 'lpu', 'marks': {'m1': 56, 'ds': 54}}

In [15]:
#accessing items from a dict

In [16]:
d1

{(1, 2, 3): 'hello'}

In [17]:
d

{'name': 'Shivam', 'gender': 'Male'}

In [18]:
d[0]

KeyError: 0

In [19]:
d['name']

'Shivam'

In [20]:
d['gender']

'Male'

In [23]:
d3
d3['marks']

{'m1': 56, 'ds': 54}

In [24]:
d3['marks']['ds']

54

In [25]:
#edit
d

{'name': 'Shivam', 'gender': 'Male'}

In [27]:
d['name']="rahul"
d

{'name': 'rahul', 'gender': 'Male'}

In [28]:
d3['marks']['ds']=64
d3

{'name': 'rohit', 'college': 'lpu', 'marks': {'m1': 56, 'ds': 64}}

In [29]:
d.get('name')

'rahul'

In [30]:
#add new key value pairs
d

{'name': 'rahul', 'gender': 'Male'}

In [31]:
d['age']=23
d

{'name': 'rahul', 'gender': 'Male', 'age': 23}

In [33]:
d3['marks']['m2']=50
d3

{'name': 'rohit', 'college': 'lpu', 'marks': {'m1': 56, 'ds': 64, 'm2': 50}}

In [35]:
#delete
d

{'name': 'rahul', 'gender': 'Male', 'age': 23}

In [36]:
del d5

NameError: name 'd5' is not defined

In [37]:
del d['gender']

In [38]:
d

{'name': 'rahul', 'age': 23}

In [ ]:
d